---
import LayoutCredits from "@/layouts/LayoutCredits.astro";

import "@/styles/credits.css";

const title = "Credits — Me Kaelunyx Space";
const description =
	"Acknowledging the talented individuals and resources that contributed to the creation of Kaelunyx Space, a personal universe of art and code.";
const noindex = true;
---

<LayoutCredits {title} {description} {noindex}>
	<p class="mb-2 text-sm">
		I'm still trying to do something better, okay?? <span
			class="font-bold text-red-400">I HAVE NO TIME SORRYYY</span
		>
	</p>
	<p>People who helped me a lot:</p>
	<a
		href="https://www.instagram.com/lulu_das_artes"
		class="ppl"
		rel="external noopener noreferrer"
		target="_blank">Lucy Cute</a
	>
	<a
		href="https://www.youtube.com/channel/UCTs0PrJ0u7NSZeVCSBcLLzA"
		class="ppl"
		rel="external noopener noreferrer"
		target="_blank">MocchaShake</a
	>
	<a
		href="https://x.com/SimonLoren6701"
		class="ppl"
		rel="external noopener noreferrer"
		target="_blank">Renzol Si</a
	>
	<p class="mt-2 text-sm">
		THERE'S STILL MORE BUT IDK ALL THE PEOPLE SO PLEASE CONTACT ME IF I
		FORGOT YAAA<a
			class="text-cosmic-adaptive-blue hover:underline"
			href="mailto:contact@kaelunyx.space"
			rel="external noopener noreferrer"
			target="_blank">contact@kaelunyx.space</a
		>
	</p>
	<a href="/" class="custom-btn page-link mt-4">Back to Home</a>
</LayoutCredits>

<style is:inline>
	.ppl {
		@apply text-cosmic-adaptive-blue hover:underline;
	}
</style>

<!-- individual script because I'm dumb and didn't prepare something better to ts -->
<script is:inline aria-hidden="true">
	const params = new URLSearchParams(location.search);
	const starsEnabled = params.get("stars") !== "off";

	if (!starsEnabled) {
		document.querySelectorAll(".page-link").forEach((element) => {
			const url = new URL(
				element.getAttribute("href") || "",
				window.location.origin,
			);
			url.searchParams.set("stars", "off");
			element.setAttribute("href", url.toString());
		});

		/* document.querySelectorAll(".stars").forEach((star) => {
			star.remove();
		}); */
	}

	// doesn't exist lmao
	/*
	const toggleButton = document.getElementById("toggle-stars-btn");
	if (toggleButton) {
		toggleButton.addEventListener("click", () => {
			const currentUrl = new URL(window.location.href);
			if (!starsEnabled) {
				currentUrl.searchParams.delete("stars");
			} else {
				currentUrl.searchParams.set("stars", "off");
			}
			window.location.href = currentUrl.toString();
		});
	}
	*/
</script>
