---
import Head from "@/components/Head.astro";
// import site from "@/data/site.ts";

export interface Props {
	title: string;
	description: string;
	url: string;
	noindex?: boolean;
}

const { title, description, url, noindex = false } = Astro.props;
---

<!doctype html>
<html lang="en-CA">
	<head>
		<Head {title} {description} {url} {noindex} />
	</head>
	<body>
		<slot />
	</body>
</html>
