---
import Head from "@/components/Head.astro";
// import site from "@/data/site";

import "@/styles/global.css";

export interface Props {
	title: string;
	description: string;
	noindex?: boolean;
}

const { title, description, noindex = false } = Astro.props;
---

<!doctype html>
<html lang="en-CA">
	<head>
		<Head {title} {description} {noindex} />
	</head>
	<body class="text-center">
		<slot />
	</body>
</html>
