---
import Head from "@/components/Head.astro";
import Footer from "@/components/Footer.astro";
import Stars from "@/components/Stars.astro";

import "@/styles/global.css";

export interface Props {
	title: string;
	description: string;
	noindex?: boolean;
	nofooter?: boolean;
	footerBorder?: boolean;
}

const {
	title,
	description,
	noindex = false,
	nofooter = false,
	footerBorder: border = true,
} = Astro.props;
---

<!doctype html>
<html lang="en-CA">
	<head>
		<Head {title} {description} {noindex} />
	</head>
	<body>
		<slot />
		{!nofooter && <Footer {border} />}
		<Stars aria-hidden="true" />
	</body>
</html>
