---
import SocialLinks from "@/components/SocialLinks.astro";

const today = new Date();
---

<div>
	<footer>
		<hr />
		&copy; {today.getFullYear()} Kaelunyx. All rights reserved.
		<SocialLinks />
	</footer>
</div>
