---
import { SITE_TITLE } from "@/consts";
import ProfilePicture from "@public/profile.png";
import HeaderLink from "@/components/HeaderLink.astro";
import SocialLinks from "@/components/SocialLinks.astro";

const image = ProfilePicture;
---

<header>
	<nav>
		<a class="ml-4 block" href="/">
			<img
				src={image.src}
				alt="Profile Picture"
				class="mr-2 inline-block h-10 w-10 rounded-lg"
			/>
			<span class="align-middle text-2xl font-bold">{SITE_TITLE}</span>
		</a>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<SocialLinks />
	</nav>
</header>
