---
export interface Props {
	href: string;
	alt: string;
	social: string;
	sprite?: string;
}

const { href, alt, social, sprite } = Astro.props;

const sprite_src = sprite || "/sprite.svg";
---

<a {href} target="_blank" rel="external noopener noreferrer">
	<span class="sr-only">{alt}</span>
	<svg
		aria-hidden="true"
		width="32"
		height="32"
		astro-icon={"social/" + social}>
		<use href={sprite_src + "#" + social}></use>
	</svg>
</a>
