@import "tailwindcss";

@import "./theme.css";

@layer base {
	html {
		@apply overflow-x-hidden scroll-smooth;
	}

	body {
		@apply bg-primary-bg text-primary-fg font-default flex min-h-screen flex-col antialiased;
	}

	header {
		@apply border-border border-b border-solid px-8 py-12 text-center;

		h1 {
			@apply text-accent mt-2 mb-4 text-4xl;
		}

		p {
			@apply text-secondary-fg text-lg;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold;
	}

	main {
		@apply mx-auto w-full max-w-3xl flex-1 p-8;

		> p {
			@apply text-secondary-fg mb-12;
		}
	}

	form {
		@apply border-border mx-auto my-6 flex flex-col gap-4 rounded-lg;
	}

	input,
	textarea,
	button {
		@apply font-default hover:outline-border focus-visible:outline-accent outline-2 outline-[#666] outline-solid;

		&:hover,
		&:focus-visible {
			@apply bg-[hsl(from_var(--color-secondary-bg)_h_s_calc(l-2))];
		}
	}

	input,
	textarea {
		@apply bg-secondary-bg text-secondary-fg w-full rounded-sm border border-solid border-[#ccc] p-2;
	}

	textarea {
		@apply min-h-25 resize-y;
	}

	button {
		padding: 10px 15px;
		background-color: var(--bg-primary);
		color: var(--fg-secondary);
		border: none;
		border-radius: 4px;
		cursor: pointer;
		font-size: 1rem;

		&:hover,
		&:focus-visible {
			background-color: var(--bg-secondary);
		}
	}

	label {
		display: block;
		font-weight: bold;
		margin-bottom: 0.25rem;
	}

	footer {
		@apply bg-secondary-bg border-border mt-auto border-t border-solid p-8 text-center;
	}
}

@layer components {
	.nav-wrapper {
		@apply border-border mx-auto mt-5 max-w-5xl overflow-x-auto border-t border-b border-solid;

		nav {
			@apply flex h-full w-full flex-wrap justify-between gap-6 px-2 py-4;
		}

		ul {
			@apply flex list-none flex-nowrap gap-6;

			a {
				@apply text-accent hover:text-accent-hover rounded-sm no-underline transition-colors duration-200 hover:underline;

				&:focus-visible {
					@apply text-accent-hover outline-accent outline-2 outline-offset-2 outline-solid;
				}
			}
		}
	}

	.widget {
		@apply flex h-full max-w-3xl flex-col items-center gap-3;

		:where(*) {
			all: initial;
			/* reset */
		}
	}

	.copyright {
		@apply text-secondary-fg text-sm;
	}
}

@layer utilities {
	:has(+ [required])::after {
		@apply text-red-600;
		content: " *";
	}

	:not(form):invalid {
		@apply outline-2 outline-red-600 outline-solid;
	}
}

@media (prefers-reduced-motion: reduce) {
	* {
		@apply transform-none! duration-120! ease-linear!;
	}

	html {
		@apply scroll-auto!;
	}
}
