@import "tailwindcss";

@import "../theme.css";

@layer components {
    .sitemap {
        h2 {
            @apply text-primary-fg text-3xl mt-6 mb-4;
        }

        a {
            @apply block no-underline bg-secondary-bg text-accent border border-solid border-border outline outline-solid outline-transparent rounded-lg cursor-pointer text-lg font-medium transition-all duration-300 ease-in-out p-6;

            &:hover,
            &:focus-visible {
                @apply bg-secondary-bg border-secondary-bg shadow-[0_4px_12px] shadow-[rgba(99,102,241,0.2)] transition-all duration-300 ease-in-out outline-accent;
            }
        }

        a .description,
        li .in-pages {
            @apply text-secondary-fg text-sm opacity-0 max-h-0 m-0 transition-all duration-300 ease-in-out delay-120 -translate-y-3;
            visibility: hidden;
        }

        a:hover .description,
        a:focus-visible .description,
        li:has(a:hover) .in-pages,
        li:has(a:focus-visible) .in-pages,
        li:has(.in-pages a:hover)>a .description,
        li:has(.in-pages a:focus-visible)>a .description {
            @apply block opacity-100 max-h-250 mt-3 translate-y-0 visible;
        }

        .pages {
            a {
                @apply mb-3;
            }

            a .description,
            li .pages {
                @apply py-1;
            }

            >li {
                &:hover>ul,
                &:focus-visible>ul {
                    @apply mt-1;

                    >li {
                        @apply mb-3;
                    }
                }

                >ul {
                    @apply ml-5;

                    >li a {
                        @apply text-accent font-medium;
                    }
                }
            }
        }

        .other {
            @apply grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] list-none p-0 gap-4;
        }
    }
}