@charset "UTF-8";

@import url("https://furryring.neocities.org/onionring.css");

.widget {
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: center;
	max-width: 800px;
	height: 100%;

	:where(*) {
		all: initial;
		/* reset */
	}
}