---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Learn more about Kaelunyx, the creator of this blog, and his journey in the world of software development and technology."
	pubDate={new Date("May 26, 2026")}>
	<p>
		Hi, I’m Kaelunyx, the creator of this blog and a fullstack web developer
		who loves blending cosmic aesthetics, music, and digital creativity into
		my work.
	</p>
	<p>
		I live in Brazil’s Northeast and built this page as an essential space
		to share the parts of me that matter most, even as I dream of one day
		living in Canada.
	</p>
	<p>
		This site is a reflection of my style: accessible front-end development,
		personal expression, and a bit of soft cosmic energy that shapes the art
		and music I enjoy.
	</p>
	<p>
		I also share who I am through identity: pronouns, languages, and the
		things that make me unique—furry, therian, autistic, multifandom, and
		dark soft with a whimsigoth touch.
	</p>
	<p>
		What you see here is a snapshot, not the full story, so if something is
		missing or you want to know more, just ask.
	</p>
</Layout>
