---
layout: default
title: Contact — Me Kaelunyx Space
description: Kaelunyx — artist, developer, and musician. A personal universe shaped by cosmic aesthetics and digital creativity.
url: https://me.kaelunyx.space/contact/
style: contact.css
json-ld:
    type: ContactPage
---

<header>
	<h1>Contact</h1>
	<p>Feel free to reach out to me through any of the platforms below:</p>
</header>
<main>
	<nav id="contact-links">
		{% for category in site.data.socials %}
		<div class="container-contact">
			<h2>{{ category.category }}</h2>
			{% for link in category.links %} {% include contact_link.html
			href=link.url platform=link.name %} {% endfor %}
		</div>
		{% endfor %}
	</nav>
	<a href="/" class="page-link">Back to Home</a>
</main>
