@charset "UTF-8";

footer {
	background: linear-gradient(to bottom, #555, #a8a8a8);
	background-clip: text;
	color: transparent;
	text-align: center;
	border-block-start: var(--border);
	padding-block: 2rem;
}

footer p {
	text-align: center;
	margin-block: 8px;
}

footer .copyright {
	margin-block-start: 16px;
	font-weight: 600;
}
