---
import site from "@/data/site.ts";
---

<footer>
	<p>My world is dark, but not sad.</p>
	<p>Keep wandering...</p>
	<p class="copyright">
		© {new Date().getFullYear()}
		{site.author}. All rights reserved.
	</p>
</footer>
