---
import "../scripts/stars.ts";

const backStars = Array.from({ length: 40 });
const frontStars = Array.from({ length: 10 });
---

<div class="stars stars--back">
	{backStars.map(() => <div class="star" />)}
</div>
<div class="stars stars--front">
	{frontStars.map(() => <div class="star" />)}
</div>

<style>
	.stars {
		display: hidden;
	}
</style>

<style lang="scss" is:global>
	@import "../styles/stars.scss";
</style>
