---
import Layout from "@/layouts/Layout.astro";

import Nav from "@/components/Nav.astro";

const title = "Kaelunyx Space";
const description =
	"Kaelunyx, a young Fullstack Web Developer wandering through unseen layers of the web.";
const header = {
	title: "Kaelunyx Space",
	subtitle: "Portal to Other Dimensions",
};
const nonav = true;
---

<Layout {title} {description} {header} {nonav}>
	<main>
		<p class="text-center">
			Welcome to Kaelunyx Space, a portal to other dimensions of the web.
			Explore my art, blog, and more as I wander through unseen layers of
			the web.
		</p>
		<Nav />
	</main>
</Layout>
