<div class="nav-wrapper">
	<nav>
		<ul>
			<li>
				<a href="https://art.kaelunyx.space" target="_blank">Art</a>
			</li>
			<li>
				<a href="https://blog.kaelunyx.space" target="_blank">Blog</a>
			</li>
			<li>
				<a href="https://me.kaelunyx.space" target="_blank">Me</a>
			</li>
			<li>
				<a href="https://portfolio.kaelunyx.space" target="_blank"
					>Portfolio</a
				>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/communities/">Communities</a>
			</li>
			<li>
				<a href="/sitemap/">Sitemap</a>
			</li>
			<li>
				<a href="/webrings/">Webrings</a>
			</li>
		</ul>
	</nav>
</div>
