<div class="noscript:hidden" id="nl" aria-hidden="true">
	<script is:inline src="https://webneko.net/n20171213.js">
		NekoType = "white";
	</script>
	<a href="https://webneko.net/" rel="noreferrer noopener" target="_blank"
		>Neko</a
	>
</div>
