<div class="fixed noscript:hidden" id="nl" aria-hidden="true">
	<style is:inline>
		:is(#layerNeko0, :has(> #layerNeko0)) {
			position: fixed !important;
			image-rendering: crisp-edges;
			image-rendering: pixelated;
		}
	</style>
	<script is:inline src="https://webneko.net/n20171213.js">
		NekoType = "white";
	</script>
	<a href="https://webneko.net/" rel="noreferrer noopener" target="_blank"
		>Neko</a
	>
</div>
