<div id="onionring-widget" class="widget">
	<div id="furryring">
		<link
			rel="stylesheet"
			href="https://furryring.neocities.org/onionring.css"
		/>
		<script
			type="text/javascript"
			src="https://furryring.neocities.org/onionring-variables.js"
			is:inline></script>
		<script
			type="text/javascript"
			src="https://furryring.neocities.org/onionring-widget.js"
			is:inline></script>
	</div>
</div>
